---
layout: main
---
<body>
<p><font size="5">About Me</font> <br>I am currently a member in "PaiLiTao" team of Machine Intelligence Technology division, a branch of Alibaba DAMO Academy.<br><br>Before that, I got my Master degree from the Computer Science and Engineering Department of Shanghai Jiao Tong University in 2015. My supervisor is Hongtao Lu in the BCMI Lab. And I received the Bachelor degree from the Computer Science and Technology Department of Zhejiang University in 2012, under the supervisor Ruofeng Tong in the GIVE Lab. 
</p>
<p><font size="5">Research Interests</font> <br>My research interests include large-scale visual search, computer vision and machine learning. <br><br>I particularly focus on ANN (approximate nearest neighbor) Search Algorithm (i.e. Quantization, Hashing, Binary Index, GPU Index and Graph-based Search) and its applications.
</p>
<p><font size="5">Publications</font></p>
</body>

<article class="post">
  <a class="post-thumbnail" style="background-image: url({{"/assets/img/i-rest.jpg" | prepend: site.baseurl | append : i-rest.jpg}})"></a>
  <div class="post-content">
    <h2 class="post-title">title</a></h2>
    <p>{{ content | strip_html | truncatewords: 15 }}</p>
  </div>
</article>

<!-- {% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}-->
